.ShopList {
    text-align: center;
    background-color: aquamarine;
  }
  #titel{
    font-size: 50px;
    font-family: Monospace	;

  }
  p{
    font-family: Monospace;
    font-size: 30px;
  }
  button{
    height: min-content;
    width: min-content;
    text-align: center;
    padding:100px;
    height: auto;
    width: auto;
    font-size:xx-large;
    background-color:rgb(76, 148, 216);
    font-family: Monospace;
    /* border-radius: 20%; */
    padding: 30px;
    border-radius: 10px;

 };
