#item {
    border: 2px red solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 150 rems;
    margin:5rem;
    background-color: blanchedalmond;
    
}
img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 30px;

;}
 #button{
    height: min-content;
    width: min-content;
    text-align: center;
    padding:initial;
    height: 8rem;
    width: 8rem;
    font-size: large;
    border-color: tomato;
    font-family: Monospace;
    

      

 }